<configuration>

	<!-- Console Appender for local output -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Rolling File Appender for general application logs -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>E:/WorkSpace/Logs/ecommerce/application.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				E:/WorkSpace/Logs/ecommerce/archive/application-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- Rolling File Appender for error logs -->
	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>E:/WorkSpace/Logs/ecommerce/errors.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				E:/WorkSpace/Logs/ecommerce/archive/errors-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- Root Logger Configuration -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<!-- Logger Configuration for Error Logs -->
	<logger name="ROOT" level="ERROR">
		<appender-ref ref="ERROR_FILE" />
	</logger>

	<!-- Logger Configuration for DEBUG level logs -->
	<logger name="com.assign.ecommerce" level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
